body {
    background-color:#7EEOB7;
}

ing {
    with: 20%;
    height: 50%;
}

h1 {
    text-align: center;
    background-color #DC143C;
}

h2 {
    color: #213B30;
    text-align: center:
    font-size: 30px;
}

p {
    font-size: 20px;
    text-align: justify;
}

#imagem-principal {
    width: 75%;
    borde: 16px;
}

ul {
    display: inline-block;
    vertical-align : top;
    width: 01
}